@{
    ViewBag.Title = "About";
}

<div class="mtitle-desc">
    <div class="FirstTitle">
        <h1> About </h1>
    </div>
    <div class="Description">
        <h2>Your application description page.</h2>
    </div>
</div>

