@using Calrom.Training.AuctionHouse.Web.Models
@model IndividualProductViewModel

<h3>Item Name: @Model.ItemName</h3>
<table>
    <tr>
        <td>
            Item ID: @Model.ItemID
            Starting Bid: £@Model.ItemPrice
            Current Bid: £@Model.CurrentBid
            Item Description: @Model.ItemDescription
            <img src="/Images/@Model.ImageSrc" class="images" />
        </td>
    </tr>
</table>