@using Calrom.Training.AuctionHouse.ViewModels
@model ListingsViewModel

@foreach (var product in Model.ProductList)
{
    <table class="listing">
        <tr>
            <td>
                Item Name: @product.ItemName
                </td>
            <td>
                Starting Bid: £@product.ItemPrice
            </td>
            <td>
                Current Bid: £@product.CurrentBid
            </td>
            <td>
                <img src="@product.ImageSrc" class="images" />
            </td>
            <td>
                @Html.ActionLink("View this listing", "IndividualProduct", "Product", new { itemId = product.ItemID }, null)
            </td>
        </tr>
    </table>
}