@using Calrom.Training.AuctionHouse.Web.Models
@model ListingsViewModel

@foreach (var product in Model.ProductList)
{
    <table class="listing">
        <tr>
            Item Name: @product.ItemName
            <br />
            Starting Bid: £@product.ItemPrice
            <br />
            Current Bid: £@product.CurrentBid
            <br />
            <img src="@product.ImageSrc" class="images" />
            <br />
            @Html.ActionLink("View this listing", "IndividualProduct", "Product", new { itemId = product.ItemID }, null)
        </tr>
    </table>
}