@model Calrom.Training.SocialMedia.ViewModels.LoginViewModel

<div class="login-input">
    <h1>Register New Borker</h1>
    @using (Html.BeginForm("Register", "Login", FormMethod.Post))
    {

        @Html.TextBoxFor(m => m.UserName, new { placeholder = "...Username" })
        @Html.TextBoxFor(m => m.Password, new { placeholder = "...Password!" })
        <input id="bork-button" type="submit" name="borkBoxSubmit" value="Bork" />
    }
    @Html.ValidationMessage("RegisterError")
</div>
