@using Calrom.Training.SocialMedia.ViewModels
@model LoginViewModel

@{
    ViewBag.Title = "Borker Login!";
}

<div class="background-shibe">
    <div class="login-container">
        @Html.Partial("_RegisterInputForm", new LoginViewModel())
        @Html.Partial("_LoginInputForm", new LoginViewModel())
    </div>
</div>