body {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    border: 5px solid black;
    background-color: ghostwhite;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul {
    border: 2.5px dotted black;
    background-color: Highlight;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    border: 3px double black;
    background-color: aliceblue;
    font-size: 18pt;
    display: flex;
    justify-content: center
}

footer {
    display: flex;
    justify-content: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

img {
    height: 200px;
    width: 200px;
}
