@model Calrom.Training.SocialMedia.ViewModels.PaginationViewModel

<div class="page-container" data-newpageurl="@Url.Action("ChangePage", "Home")">
    <p class="page-text">Page - @(Model.CurrentPage + 1) out of @Model.TotalPages</p>
    <input id="prev-button" type="submit" value="Last Bork" pagevalue=@Model.PreviousPage />
    <input id="next-button" type="submit" value="Next Bork" pagevalue=@Model.NextPage />
</div>