@model Calrom.Training.SocialMedia.ViewModels.SearchViewModel

<div class="search-container" data-searchborkurl="@Url.Action("SearchBork", "Home")">
    <div class="search-submitter-home">
        @Html.TextBoxFor(m => m.SearchText, new { placeholder = "...Search for a bork!" })
        <input id="search-bork" type="submit" name="borkBoxSubmit" value="Search" />
    </div>
    <div class="home-search-borks">
        @if (Model.ValidResults)
        {
            foreach (var bork in Model.BorkResults)
            {
                @Html.Partial("_BorkBox", bork)
            }
        }
    </div>
</div>
