@model Calrom.Training.SocialMedia.Web.Models.FollowViewModel

<div class="followed-borker-list">
    @Html.DropDownList("-- Followed Users --", new SelectList(Model.FollowedUsers), new { @class = "followed-list" })
</div>
