@{
    ViewBag.Title = "About";
}
<div class="background-shibe">
    <div class="about-positioner">
        <address class="about-container">
            <p><i>Barker is</i></p>
            <h3>what’s happening in the world and what people are talking about right now.</h3>
            <p><i>When it happens</i></p>
            <h3>it happens on Barker.</h3>
            <h2>Sbark a global conversation.</h2>
        </address>
    </div>
</div>