@{
    ViewBag.Title = "Contact";
}
<div class="background-shibe">
    <div class="address-positioner">
        <address class="address-container">
            One Good Boy<br />
            Tokyo, Shibuya Station<br />
            <abbr title="Phone">P: 0300 123 4999</abbr>
        </address>
    </div>
</div>