################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Graduate Training Programme/v16
Calrom.Training.AuctionHouse/
