@using CustomRegionEditor.Models
@model ContentViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="content-container">
    @if (Model.IsEditing)
    {
        @Html.Partial("_EditRegion", Model.EditViewModel)
    }

    @if (Model.IsSearching)
    {
        @Html.Partial("_SearchRegion", Model.SearchViewModel)
    }
</div>