
<div class="search-container" data-searchurl="@Url.Action("Search", "Home")">
    <input type="text" placeholder="Search" class="search-text-box" />
    <input type="submit" value="Search" class="search-button"/>
</div>