

    <div class="search-container input-group" data-searchurl="@Url.Action("Search", "Home")" data-autosearchurl="@Url.Action("SearchComplete", "Home")">
        <button type="button" class="btn btn-secondary input-group-prepend" data-toggle="tooltip" data-placement="top" id="helper-tooltip" title="Search Commands: -All">
            ?
        </button>
        <input type="text" placeholder="Search" class="search-text-box form-control border-dark" />
        
        <input type="submit" value="Search" class="search-button btn btn-dark input-group-append" />
    </div>
    <div class="search-autocomplete"></div>