
<div class="search-container" data-searchurl="@Url.Action("Search", "Home")">
    <input type="text" placeholder="Search" class="search-text-box form-control" />
    <input type="submit" value="Search" class="search-button btn btn-dark"/>
</div>