
<div class="flex-column">
    <div class="command-container">
        <h4>Commands</h4>
        <div>-All</div>
        <div>-Small</div>
        <div>-Large</div>
        <div>-Rand</div>
    </div>
    <div class="add-button-container" data-newregionurl="@Url.Action("NewCustomRegion", "Home")">
        <input type="button" value="Add Region" class="add-region-button" />
    </div>

    <div class="search-box-container">
        @Html.Partial("_SearchBox")
    </div>

    <div class="search-filters-container">
        <div class="flex-row">
            <h2>Filters</h2>
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">No Filters:</h4>
            <input type="radio" name="filter" checked="checked"/>
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Group By Region:</h4>
            <input type="radio" name="filter" class="by-region" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Group By Country:</h4>
            <input type="radio" name="filter" class="by-country" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Group By State:</h4>
            <input type="radio" name="filter" class="by-state" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Group By City:</h4>
            <input type="radio" name="filter" class="by-city" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Group By Airport:</h4>
            <input type="radio" name="filter" class="by-airport" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Search for Region:</h4>
            <input type="radio" name="filter" class="region-filter" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Search for Country:</h4>
            <input type="radio" name="filter" class="country-filter" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Search for State:</h4>
            <input type="radio" name="filter" class="state-filter" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">Search for City:</h4>
            <input type="radio" name="filter" class="city-filter" />
        </div>
    </div>
</div>
