
<div class="flex-sidebar">
    <div class="search-box-container">
        @Html.Partial("_SearchBox")
    </div>
    <div class="add-button-container" data-newregionurl="@Url.Action("NewCustomRegion", "Home")">
        <button value="Add Region" class="add-region-button btn btn-dark mt-2">
            Add Region
        </button>
    </div>
    <div class="dropdown mt-2">
        <button class="btn btn-dark dropdown-toggle" id="filterDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filters
        </button>

        <div class="search-filters-container dropdown-menu" aria-labelledby="filterDropdownMenuButton">
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">No Filter:</h4>
                <input type="radio" name="filter" checked="checked" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">Containing Region:</h4>
                <input type="radio" name="filter" class="by-region" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">Containing Country:</h4>
                <input type="radio" name="filter" class="by-country" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">Containing State:</h4>
                <input type="radio" name="filter" class="by-state" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">Containing City:</h4>
                <input type="radio" name="filter" class="by-city" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">Containing Airport:</h4>
                <input type="radio" name="filter" class="by-airport" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">View Region:</h4>
                <input type="radio" name="filter" class="region-filter" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">View Country:</h4>
                <input type="radio" name="filter" class="country-filter" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">View State:</h4>
                <input type="radio" name="filter" class="state-filter" />
            </div>
            <div class="dropdown-row m-0">
                <h4 class="filter-heading">View City:</h4>
                <input type="radio" name="filter" class="city-filter" />
            </div>
        </div>
    </div>
</div>
