
<div class="flex-column">
    <h4>Commands</h4>
    <div>-All</div>
    <div>-Small</div>
    <div>-Large</div>
    <div>-Rand</div>
    <div class="add-button-container" data-newregionurl="@Url.Action("NewCustomRegion", "Home")">
        <input type="button" value="Add Region" class="add-region-button" />
    </div>

    <div class="search-box-container">
        @Html.Partial("_SearchBox")
    </div>

    <div class="search-filters-container">
        <div class="flex-row">
            <h2>Filters</h2>
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">By Region:</h4>
            <input type="checkbox" class="by-region" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">By Country:</h4>
            <input type="checkbox" class="by-country" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">By State:</h4>
            <input type="checkbox" class="by-state" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">By City:</h4>
            <input type="checkbox" class="by-city" />
        </div>
        <div class="flex-row">
            <h4 class="filter-heading">By Airport:</h4>
            <input type="checkbox" class="by-airport" />
        </div>
    </div>
</div>
