
<div class="flex-column">
    <div class="add-button-container">
        <input type="button" value="Add Region" class="add-region-button" />
    </div>

    <div class="search-box-container">
        @Html.Partial("_SearchBox")
    </div>

    <div class="search-filters-container">
 
    </div>
</div>
