
<div class="flex-sidebar">
    <img src="~/Content/Images/calrom-edgy-logo.png" class="rounded home-logo" />
    <div class="search-box-container">
        @Html.Partial("_SearchBox")
    </div>
    <div class="add-button-container" data-newregionurl="@Url.Action("NewCustomRegion", "Home")">
        <button value="Add Region" class="add-region-button btn btn-dark mt-2">
            Add Region
        </button>
    </div>
    <select class="dropdown mt-2 btn btn-dark search-filters-container">

        <option class="filter-heading">No Filter</option>

        <optgroup label="Groups Containing">

            <option class="filter-heading" value="contains-region">Region</option>

            <option class="filter-heading" value="contains-country" >Country</option>

            <option class="filter-heading" value="contains-state">State</option>

            <option class="filter-heading" value="contains-city">City</option>

            <option class="filter-heading" value="contains-airport">Airport</option>

        </optgroup>

        <optgroup label="View Subregions">

            <option class="filter-heading" value="for-airport">Region</option>

            <option class="filter-heading" value="for-country">Country</option>

            <option class="filter-heading" value="for-state">State</option>

            <option class="filter-heading" value="for-city">City</option>
        </optgroup>
    </select>
</div>
