@using CustomRegionEditor.ViewModels
@model LayoutViewModel

@Scripts.Render("~/Content/home/scripts")
<div class="flex-row">
    <div class="sidebar-container">
        @Html.Partial("_Sidebar")
    </div>
    <div class="content-container">
        @Html.Partial("_Content", Model.ContentViewModel)
    </div>
</div>
