@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Uzair's Auction House</h1>
    <p >Welcome to the Auction House. MUCH better than eBay!</p>
</div>

<div>
    <div>
        <h2>New here? Why not register?</h2>
        <p>
            Click the login button and create a new account.
        </p>
    </div>
</div>