<?xml version="1.0"?>
<syscache2>
  <cacheRegion name="tableDependency" relativeExpiration="300" priority="High">
    <dependencies>
      <tables>
        <add name="User" databaseEntryName="SqlCacheDependency" tableName="dbo.UserModel" />
        <add name="Bid" databaseEntryName="SqlCacheDependency" tableName="dbo.BidModel" />
      </tables>
    </dependencies>
  </cacheRegion>
  <cacheRegion name="ExpireAfter" timeOfDayExpiration="15:00:00" priority="Medium">
    <dependencies>
      <tables>
        <add name="Product" databaseEntryName="SqlCacheDependency" tableName="dbo.ProductModel" />
      </tables>
    </dependencies>
  </cacheRegion>
  
</syscache2>