@model Calrom.Training.AuctionHouse.Database.UserDatabaseModel

@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("NewUser", "Login", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
    @Html.TextBoxFor(m => m.DateOfBirth, new { placeholder = "Date Of Birth" })
    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
    <input type="submit" value="Submit">
}