@*@model Calrom.Training.AuctionHouse.Database.UserDatabaseModel

@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title.</h2>

@{ var user = }
<table class="listing">
    <tr>
        User ID: @user.ItemName
        <br />
        Username: £@user.ItemPrice
        <br />
        Date of Birth: £@user.CurrentBid
        <br />
        <img src="@user.ImageSrc" class="images" />
        <br />
</table>*@