html {
    width: 100%;
    height: 95%;
}

body {
    padding-bottom: 20px;
    margin-left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: black;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5em;
    justify-content: center;
    background-color: mediumpurple;
    border: 3px solid white;
}

.navigation-bar > h1 {
        color: indigo;
        font-size: 5em;
        margin: 0;
    }

.nav-home {
    flex-grow: 1;
    font-size: 4em;
}

.nav-about {
    flex-grow: 1;
    font-size: 4em;
}

.nav-account {
    font-size: 4em;
    flex-grow: 1;
}

.nav-contact {
    flex-grow: 1;
    font-size: 4em;
}

.nav-login {
    flex-grow: 1;
    font-size: 4em;
}

.nav-logout {
    font-size: 4em;
}

.background-shibe {
    top: 0;
    width: 100%;
    height: 1000px;
    position: sticky;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-image: url(../images/shibe-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#BorkText {
    min-width: 350px;
    min-height: 30px;
    font-size: 50px;
}

#bork-button {
    min-width: 150px;
    min-height: 30px;
    font-size: 50px;
}

.bork-submitter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.acc-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-right: 30%;
}

.box-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.box-row > img {
        max-width: 5em;
    }

.acc-borks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50em;
    height: auto;
    margin-top: 5%;
}

.bork-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 10%;
}

.bork-timeline > form {
    width: 100%;
}

.bork-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0;
}

.bork-container > ul {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}

.fake-button {
    border: 0px;
    background-color: transparent;
    color: black;
    cursor: grab;
    font-size: 2em;
}

.fake-button:hover {
    text-decoration: underline;
}

.all-bork-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin-top: 5%;
    margin-right: 20%;
    opacity: 0.6;
}

.all-bork-timeline > ul {
    margin: 0;
    padding: 0;
    height: auto;
}

.all-bork-timeline > form {
    width: 100%;
}

.single-bork {
    width: 100%;
    border: 3px solid black;
    background-color: cornflowerblue;
    height: auto;
    margin: 0;
}

.single-bork > li {
    font-size: 2.1em;
    list-style-type: none;
    width: 100%;
}

.single-bork-acc {
    width: 100%;
    border: 3px solid black;
    background-color: cornflowerblue;
    height: auto;
}

.single-bork-acc > li {
    font-size: 3em;
    list-style-type: none;
    width: 100%;
}

.image-container > img {
    object-fit: fill;
    width: 120px;
    height: 110px;
}

.next-button {
    width: 100%;
    height: 50px;
    font-size: 2em;
}

.page-text {
    margin: 0;
    flex-grow: 1;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.page-container > form {
    flex-grow: 1;
    height: 100%;
}

.page-container {
    background-color: mediumpurple;
    border: 3px solid white;
    color: indigo;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.follow-button {
    cursor: grab;
    font-size: 2em;
    background-color: cornflowerblue;
    width: auto;
}

.follow-button:hover {
    text-decoration: underline;
}

.account-detail-container {
    background-color: mediumpurple;
    border: 3px solid white;
    color: indigo;
    margin: 0;
    width: 14em;
    display: flex;
    justify-content: flex-start;
    flex-direction: Column;
    font-size: 2em;
}

.account-detail-header {
    background-color: mediumpurple;
    border: 3px solid white;
    color: indigo;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
}

.address-container {
    background-color: mediumpurple;
    border: 3px solid white;
    padding: 0.2em;
    height: 4em;
    font-size: 4em;
}

.address-positioner {
    display: flex;
    align-items: center;
    margin-right: 30%;
    color: indigo;
}

.about-positioner {
    display: flex;
    align-items: center;
    margin-right: 10%;
    color: indigo;
}

.about-container {
    background-color: mediumpurple;
    border: 3px solid white;
    padding: 0.2em;
    min-height: 4em;
    font-size: 3em;
    max-width: 60%;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 30%;
}

.login-input {
    background-color: mediumpurple;
    border: 3px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2em;
    color: indigo;
}

    .login-input > h1 {
        margin: 0.2em;
        font-size: 2em;
    }

    .login-input > form {
        background-color: mediumpurple;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

        .login-input > form > input {
            width: 100%;
            height: auto;
            font-size: 1em;
        }
