html,
body {
    width: 100%;
    height: 100%;
    /*background-image: url(images/earth.jpg);*/
    background-color: #2F2F2F;
    background-size: cover;
    background-position: center center;
}

.autocomplete-container {
    position: absolute;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 8em;
    text-wrap: normal;
    min-width: 6em;
    width: auto;
}

.single-suggestion {
    background-color: white;
    font-size: 12px;
}

    .single-suggestion > td {
        text-transform: capitalize;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .single-suggestion:hover {
        background-color: cornflowerblue;
        cursor: pointer;
        opacity: 0.5;
    }

.flex-auto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-heading {
    margin-right: 0.5em;
}

th,
td {
    text-align: center;
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.new-entry-input {
    max-width: 6em;
    text-transform: capitalize;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    align-items: center;
}

.dropdown-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.flex-body {
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 7%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout-body-content {
    height: 100%;
}

.sidebar-container {
    display: flex;
    justify-content: center;
    max-width: 30%;
    height: 50em;
    border-radius: 25px;
    margin-right: 2em;
    background-color: whitesmoke;
    border: 5px solid cornflowerblue;
}

.add-button-container {
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.content-container {
    padding: 2em;
    height: 50em;
    overflow-y: auto;
    width: 60em;
    background-color: whitesmoke;
    border: 5px solid cornflowerblue;
    border-radius: 25px;
}

.search-result,
.single-region-entry,
.add-region-row {
    border-top: 2px inset black;
}

.edit-container {
    height: 100%;
}

.search-filters-container {
    width: 16em;
    padding-left: 5%;
    align-items: flex-start;
}

#filterDropdownMenuButton {
    font-size: 1.5em;
    width: 10.67em;
}


.command-container {
    width: 100%;
    padding-left: 5%;
    align-items: flex-start;
}
