<?xml version="1.0"?>
<syscache2>
  <cacheRegion name="tableDependency" relativeExpiration="300" priority="High">
    <dependencies>
      <tables>
        <add name="Product" databaseEntryName="SqlCacheDependency" tableName="dbo.ProductModel" />
      </tables>
    </dependencies>
  </cacheRegion>
  <cacheRegion name="FiveSecondTimeInterval" relativeExpiration="5">
  </cacheRegion>
</syscache2>