<?xml version="1.0"?>
<syscache2>
  <cacheRegion name="onChangeCache" priority="High">
    <dependencies>
      <tables>
        <add name="Bork" databaseEntryName="SqlCacheDependency" tableName="dbo.BorkModel" />
      </tables>
    </dependencies>
  </cacheRegion>

  <cacheRegion name="setTime" timeOfDayExpiration="09:45:00" priority="High">
    <dependencies>
      <tables>
        <add name="Notification" databaseEntryName="SqlCacheDependency" tableName="dbo.NotificationModel" />
      </tables>
    </dependencies>
  </cacheRegion>

  <cacheRegion name="expiryCache" relativeExpiration="20" priority="Normal">
    <dependencies>
      <tables>
        <add name="User" databaseEntryName="SqlCacheDependency" tableName="dbo.UserModel" />
      </tables>
    </dependencies>
  </cacheRegion>
</syscache2>